*{
    margin: 0px;
    padding: 0px;
}
body{
    margin: 0px;
    padding: 0px;
    background-color: whitesmoke;
}
header{
    top: 0;
    width: 100%;
    height: 100px;
    display: flex;
    box-shadow: 0px 0px 10px black;
    position: fixed;
    z-index: 1000;
    transition: background-color 0.5s, color 0.5s ;
}
.default{
    background-color: transparent;
}
.scrolled{
    background-color: white;

}
.scrolled #span2, .scrolled nav ul li a{
        color: black;
}
.logo{
    display: flex;
    margin-left: 20px;
    padding: 10px 0px;
}
#span1{
    color: green;
    font-weight: bolder;
    font-size: 20px;
}
#span2{
    color: white;
}
.para{
    margin-left: 10px;
    
}
.image{
    width: 50px;
    height: 50px;
    
}
.image img{
    width: 100%;
    height: 100%;
}
nav{
    display: flex;
    z-index: 1000;
    top: 0;
    margin-left: 10rem;
}

nav ul{
    display: flex;
    margin-left: 40rem;
}
nav ul li{
    padding: 35px 10px;
    list-style-type: none;
}
nav ul li a{
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px 5px;
    text-decoration: none;
    color: white;
    text-transform: uppercase;   
    transition: color 1s;
}
nav ul li a:hover{
    color: green;
}
.cours{
    margin-top: -23rem;
    width: 100%;
    height: 800px;
    background-image: url(./dalle.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: gray;
    background-blend-mode: multiply;
}
.paracours h1{
    height: 50px;
    padding-top: 250px;
    color: white;
}
.paracours p{
    color: white;
}
#span3{
    display: flex;
    justify-content: center;
}
#span4, #span5{
    display: flex;
    justify-content: center;
    font-size: 18px;
}
.container{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}
.div1, .div2, .div3{
    padding: 30px 70px;
    border-radius: 20px;
    margin: 10px 30px;
    background-color: white;
    transition: transform 1s;
    
} 
.div1:hover, .div2:hover, .div3:hover{
    transform: scale(1.1);
}
.div1  h3, .div2 h3, .div3 h3{
    text-align: center;
    margin: 10px 0px;
}
.fa-bell, .fa-book-open, .fa-user-graduate{
    margin-bottom: 1rem;
    margin-left: 50%;
    margin-right: 50%;
    color: green;
    font-size: 40px;
}
#sousdiv1, #sousdiv2, #sousdiv3{
    text-align: center;
}
.describe{
    margin-top: 10rem;
    display: flex;
    width: 100%;
    height: 310px; 
}
.descbribeimg{
    margin-left: 20rem;
}
.describetext{
    margin-left: 3rem;
}
.choice h1{
    display: flex;
    justify-content: center;
    margin-top: 3rem;
}
.underline{
    margin-top: 9px;
    margin-left: 47rem;
    width: 3%;
    border-bottom: 4px solid black;
    border-radius: 100px;
    font-size: 25px;
}
.underline2{
    margin-top: 9px;
    margin-left: 45rem;
    width: 3%;
    border-bottom: 4px solid black;
    border-radius: 100px;
    font-size: 25px;
}
.choice1{
    width: 100%;
    margin-top: 3rem;
    display: flex;
    justify-content: space-evenly;
}
.block1, .block2, .block3{
    justify-items: center;
    padding: 4rem 2rem;
    box-shadow: 0px 0px 1px black;
    height: 550px;
}
.block1 img, .block2 img, .block3 img{
    width: 400px;
    height: 400px;
}
.block1 h2, .block2 h2, .block3 h2{
    margin-top: 1rem;
}
.block1 p, .block2 p, .block3 p{
    margin-top: 1rem;
    text-align: center;
}
.third{
    margin-top: 3rem;
    background-color: rgb(30, 50, 75);
    width: 100%;
    height: 700px;
    color: white;
}
#infos{
    float: left;
    margin-left: 7rem;
    margin-top: 4rem;
}
#infos h1{
    margin-top: 2rem;
    margin-bottom: 4rem;
    
}
#infos #adaptext{
    margin-bottom: 1rem;
}
#infos .writeus p{
    text-align: left;
    word-spacing: 1px;
    
}
#writeustitle{
    font-weight: bolder;
    font-size: 40px;
}
#writeustext{
    font-weight: bolder;
}
#moreinfos {
    text-transform: capitalize;
}
#form{
    float: right;
    margin-top: 4rem;
    margin-right: 16rem;
    background-color: rgb(18, 18, 63);
    width: 380px;
    height: 480px;
}
textarea{
    width: 87%;
    height: 80px;
    outline-color: rgb(6, 6, 47);
}
#form h1{
    float: left;
    margin-left: 3rem;
    margin-top: 5rem;
    margin-bottom: 2rem;
}
#form input[type="text"],#form input[type="email"]{
    margin: 10px 0px;
    padding: 3px 0px;
    display: block;
    width: 87%;
    height: 30px;
    outline-color: rgb(6, 6, 47);
}
*::placeholder{
    padding-left: 10px;
    color: gray;
    font-weight: bold;
    text-transform: capitalize;
}
input[type="submit"]{
    float: left;
    margin-top: 10px;
    margin-left: 25px;
    color: white;
    background-color: rgb(239, 16, 112);
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
}
#status{
    margin-left: 7rem;
    margin-top: 5rem;
    float: left;
    display: flex;
    height: 140px;
    
}
#students, #teachers, #graduate{
    border: 1px dashed green;
    border-radius: 8px;
}
#students{
    float: left;
    padding: 1rem 8rem 1rem 1rem;
}
#teachers{
    margin-left: 2rem;
    padding: 1rem 8rem 1rem 1rem;
}
#graduate{
    float: right;
    margin-left: 2rem;
    padding: 1rem 7rem 1rem 1rem;
}
#statseleves h1, #statteach h1, #statgrade h1{
    font-size: 30px;
}
#statseleves, #statteach, #statgrade{
    padding-top: 20px;
}
.fa-graduation-cap, .fa-user-tie, .fa-face-smile{
    font-size: 35px;
    color: green;
}
.choice2{
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    height: 800px;
}
#science img, #biology img, #censeur img{
    width: 300px;
    height: 500px;
}
#biology{
    padding: 0rem 2rem;
    justify-items: center;
}
#science, #censeur{
    justify-items: center;
}
#science h2, #biology h2, #censeur h2{
    margin-top: 1rem;
    font-size: 20px;
}
footer{
    display: flex;
    background-color: rgb(18, 18, 63);
    height: 40px;
    padding: 1rem 0rem;
}
#nav a{
    text-decoration: none;
    color: white;
    padding: 0px 10px;
    transition: color 1s;
}
#nav a:hover{
    color: rgb(239, 16, 112);
}
#nav{
    margin-left: 7rem;
}
.droits{
    color: white;
    margin-left: 35rem;  
}
.message{
    width: 17%;
    display: flex;
    background-color: rgb(27, 206, 63);
    border-radius: 50px;
    padding: 0px 35px;
    font-size: 20px;
    color: white;
    margin-left: 73rem;
    position: fixed;
    z-index: 1000;
    bottom: 5rem;
}
.message p{
  padding: 15px 9px;
}
.message .fa-whatsapp{
    padding: 15px 0px;
    font-size: 25px;
}
